{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="">
    <meta name="description" content="personal_resume" />
    <meta name="keywords" content="personal_resume"/>
        <link rel="stylesheet" type="text/css" href="{% static "login/css/style.css" %}" />
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel='stylesheet' type='text/css' />
 		<link href="{% static "bootstrap/css/dashboard.css" %}" rel="stylesheet">
		<link href="{% static "bootstrap/css/style.css" %}" rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<script src="{% static "login/js/cufon-yui.js" %}" type="text/javascript"></script>
		<script src="{% static "login/js/ChunkFive_400.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('h1',{ textShadow: '1px 1px #fff'});
			Cufon.replace('h2',{ textShadow: '1px 1px #fff'});
			Cufon.replace('h3',{ textShadow: '1px 1px #000'});
			Cufon.replace('.back');
		</script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
{% block content %}
{% endblock %}
{% block footer %}
<div class="footer">
<span>&copy; 2016 KlausQiu</span>
<span class="dot">·</span>
<a target="_blank" href="#" class="footer_link">圆桌</a>
<span class="dot">·</span>
<a target="_blank" href="#" data-za-c="explore" data-za-a="visit_explore" data-za-l="home_bottom_explore" class="footer_link">discover</a>
<span class="dot">·</span>
<a target="_blank" href="#" class="footer_link">Move</a>
<span class="dot">·</span>
<a target="_blank" href="#" class="footer_link">JOIN</a>
<span class="dot">·</span>
<a href="http://www.miibeian.gov.cn/" target="_blank" class="footer_link">京 ICP 备 13052560 号</a>
</div>
{% endblock%}
</body>
</html>
