{% load staticfiles %}
{% block%}
<div class="footer">
<span>&copy; 2016 KlausQiu</span>
<span class="dot">·</span>
<a target="_blank" href="/roundtable" class="footer_link">圆桌</a>
<span class="dot">·</span>
<a target="_blank" href="/explore" data-za-c="explore" data-za-a="visit_explore" data-za-l="home_bottom_explore" class="footer_link">discover</a>
<span class="dot">·</span>
<a target="_blank" href="/app" class="footer_link">Move</a>
<span class="dot">·</span>
<a target="_blank" href="/careers" class="footer_link">JOIN</a>
<span class="dot">·</span>
<a href="http://www.miibeian.gov.cn/" target="_blank" class="footer_link">京 ICP 备 13052560 号</a>
</div>
</html>