{% extends "base.html"%}
{% load staticfiles %}
{% block title %} {{ username }} {% endblock %}
{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1>{{ username }}</h1>
			 <img src="{% static "bootstrap/images/avt.jpg" %}" alt=""/>
		 </div>
		<div class="details">
			 <h3>手机号码</h3>
			 <p>{{ phonenumber }}</p>  	 
			 <h3>邮箱</h3>
			 <a href="#"><p style="font-size:13px;">{{ email }}</p></a>
			 <address>
			 <h3>居住地址</h3>
			 <span>{{ address }}</span>
			 </address>	 
		</div>
		<div class="clearfix"></div>
</div>
<link href="{% static "bootstrap/css/popuo-box.css" %}" rel="stylesheet" type="text/css" media="all"/>
<script src="{% static "bootstrap/js/jquery.magnific-popup.js" %}" type="text/javascript"></script>

<!---//pop-up-box---->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 <div class="content">
		 <div class="details_header">
			 <ul>
				 <li><a href="index.html"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Resume</a></li>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
			 </ul>
		 </div>
		 <div class="company">
			 <h3 class="clr1">Previous Employment</h3>
			 <div class="company_details">
				 <h4>{{ company1 }}<span>{{ starttime1 }} - PRESENT</span></h4>
				 <h6>{{ position1 }}</h6>
				 <p class="cmpny1">{{ content1 }}</p>
			 </div>
			 <div class="company_details">
				 <h4>{{ company2 }}<span>{{ starttime2 }} - {{ endtime2 }}</span></h4>
				 <h6>{{ position2 }}</h6>
				 <p>{{ content2 }}</p>
			 </div>
		 </div>
		 <div class="skills">
			 <h3 class="clr2">Professional skills</h3>
			 <div class="skill_info">
			 <p> </p>
			 </div>
			 <div class="skill_list">
			 	<div class="skill1">
					 <h4>frame</h4>
					 <ul>					 
						<li>Django</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>Languages</h4>
					 <ul>					 
						<li>HTML/CSS</li>
						<li>JavaScript</li>
						<li>python</li>
					 </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="education">
			 <h3 class="clr3">Education</h3>
			 <div class="education_details">
				 <h4>{{ school1 }}<span>{{ estarttime1 }} - {{ eendtime1 }}</span></h4>
				 <h6>Python,Django,HTML,CSS,JavaScript</h6>
				 <p class="cmpny1"></p>
			 </div>
			 <div class="education_details">
				 <h4>{{ school2 }}<span>{{ estarttime2 }} - {{ eendtime2 }}</span></h4>
				 <h6>计算机应用</h6>
				 <p></p>
			 </div>
		 </div>
	 </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}